<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Avensis 2k16</title>
    <meta name="description" content="Spirit8 is a Digital agency one page template built based on bootstrap framework. This template is design by Robert Berki and coded by Jenn Pereira. It is simple, mobile responsive, perfect for portfolio and agency websites. Get this for free exclusively at ThemeForces.com">
    <meta name="keywords" content="bootstrap theme, portfolio template, digital agency, onepage, mobile responsive, spirit8, free website, free theme, themeforces themes, themeforces wordpress themes, themeforces bootstrap theme">
    <meta name="author" content="ThemeForces.com">
    
    <!-- Favicons
    ================================================== -->
    <link rel="shortcut icon" href="img/logo.png" type="image/x-icon">
    <link rel="apple-touch-icon" href="img/logo.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/logo.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/logo.png">

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css"  href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome/css/font-awesome.css">

    <!-- Slider
    ================================================== -->
    <link href="css/owl.carousel.css" rel="stylesheet" media="screen">
    <link href="css/owl.theme.css" rel="stylesheet" media="screen">

    <!-- Stylesheet
    ================================================== -->
    <link rel="stylesheet" type="text/css"  href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/responsive.css">

    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400' rel='stylesheet' type='text/css'>

    <script type="text/javascript" src="js/modernizr.custom.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <!-- Navigation
    ==========================================-->
    <nav id="tf-menu" class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Avensis 2016</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/#tf-home" class="page-scroll">Home</a></li>
            <li><a href="/#tf-about" class="page-scroll">About</a></li>
            <li><a href="/#tf-team" class="page-scroll">Team</a></li>
            <li><a href="/#tf-services" class="page-scroll">Departments</a></li>
            <!--<li><a href="#tf-works" class="page-scroll">Events</a></li>-->
            <li><a href="/#tf-testimonials" class="page-scroll">Messages</a></li>
            <li><a href="/#tf-contact" class="page-scroll">Contact</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <!-- Home Page
    ==========================================-->
    <div id="tf-home" class="text-center">
        <div class="overlay">
            <div class="content">
                <strong><font color="#fcac45", size="7">ROBOTICS</font></strong>
                <p class="lead"><font size="4">Robotics, as known, remains the most exciting part of AVENSIS every year and this year too we are working to make it huge and thrilling.
</font></p>
                <a href="#tf-about" class="fa fa-angle-down page-scroll" style="margin-top: 0;"></a>
            </div>
        </div>
    </div>

    <!-- About Us Page
    ==========================================-->
    <div id="tf-about">
        <div class="container">
            <div class="row">
                <!--<div class="col-md-6">
                    <div class="about-text">
                        <!--<div class="section-title">
                            <h4>About us</h4>
                            <h2>Some words <strong>about us</strong></h2>
                            <hr>
                            <div class="clearfix"></div>
                        </div>-->
                        <!--<p class="intro">We love building and rebuilding brands through our  specific skills. Using colour, fonts, and illustration, we brand companies in a way they will never forget.</p>-->
                        <ul class="about-list">
                             <li><div class="row" style="margin:1em">
                                <div class="col-md-4" style="width:1300; height:200; position:relative; ">
                                <img src="Robotics/Carnage.png" height="200" width="300">
                                </div>
                                <div class="col-md-8" ><strong>Carnage</strong> - <em><p>The most awaited event of Avensis is back with a bang & this time it is more challenging, more nail biting and most important…more CARNAGE… It’s a game of strategy; it’s a game of control…Oh wait!!! It’s not a game…it’s a battle…
Of you versus time, you versus others, you versus that conscience that screams in unanimousvoice to give up and leave… <br/>So pick up the tools, build your grey matter and fight…fight to prove your worth, fight to prove your mettle. Many appear in the battle but there’s gonna be just 1 winner, just 1 team in the end who’ll be standing tall in the end over the others.</p> </em>
                                    <a href="/carnage" type="button" class="btn btn-primary">View Event</a>
                                </div></div>
                            </li>
                            
                            
                            <li><div class="row" style="margin:1em">
                                <div class="col-md-4" style="width:1300; height:200; position:relative; ">
                                <img src="Robotics/Junkyard.png" height="200" width="300">
                                </div>
                                <div class="col-md-8" ><strong>Junkyard</strong> - <em><p>Junkyard Wars is the perfect amalgamation of the innovation and critical skills inside you. So tie your laces and hop on to the event to put your engineering theories into practice, to test your problem solving skills, tolerance and creativity and also get ready to work with piles of junk and get all dirty and greasy. Inspired by a real life incident, Junkyard Wars will test your ability to make use of every resource available in an optimized manner under the given time constraint. The participants will have to apply innovative ideas and feasible solutions of the given real life problems to design the mechanism from the given scrap and have to complete the task in required time limit.<br/>In these competitions, multiple teams build a device for use in a competition out of raw materials within a time limit. This sort of competition requires quick thinking and teamwork, and so is a great way to demonstrate an engineer's abilities.</p></em>
                                    <a href="/junkyard" type="button" class="btn btn-primary">View Event</a>
                                </div></div>
                            </li>
                            
                            
                            <li><div class="row" style="margin:1em">
                                <div class="col-md-4" style="width:1300; height:200; position:relative; ">
                                <img src="Robotics/LFR.png" height="200" width="300">
                                </div>
                                <div class="col-md-8" ><strong>L.F.R.</strong> - <em><p>LFR is an event in which an autonomous robot is made which is capable of following a line. The autonomous robot will begin its run from a predefined position in a dark isolated room. It will follow the line strip beneath it and will cover the track. The objective of a line follower is to find its path through the predefined end point  in least possible time with accuracy.</p></em>
                                   <a href="/lfr" type="button" class="btn btn-primary">View Event</a>  
                                </div></div>
                            </li>
                            
                            
                             <li><div class="row" style="margin:1em">
                                <div class="col-md-4" style="width:1300; height:200; position:relative; ">
                                <img src="Robotics/Robo_Maze.png" height="200" width="300">
                                </div>
                                <div class="col-md-8" ><strong>Robo Maze</strong> - <em><p>Robo Maze is a challenge. A challenge to design autonomous robots that compete to solve a maze. These robots have to be intelligent enough to themselves find a way out of the maze and cannot be controlled remotely.  The robots will encounter many obstacles in its way. Only the most intelligently programmed robot will make it to the end in time to become the winner. Overcome the obstacles and be fast as to leave your competition behind.</p></em>
                                     <a href="/robomaze" type="button" class="btn btn-primary">View Event</a>  
                                </div></div>
                            </li>
                           
                           
                           <li><div class="row" style="margin:1em">
                                <div class="col-md-4" style="width:1300; height:200; position:relative; ">
                                <img src="Robotics/Robo_Rugby.png" height="200" width="300">
                                </div>
                                <div class="col-md-8" ><strong>Robo Rugby</strong> - <em><p>It’s a game of bots where your MANUALLY CONTROLLED BOTS will compete to score points and cover the arena by moving the balls across the track to the finish line. Drive your bots from a series of hurdles in a fabulous arena with ball as your prop and see how your controlling skills are and how efficiently you can control your bot to score, win points and be quick enough to beat the others. Be the CHAMPION because it’s the winner who takes it all.</p></em>
                                    <a href="/roborugby" type="button" class="btn btn-primary">View Event</a>  
                                </div></div>
                            </li>       
                            
                            
                            <li><div class="row" style="margin:1em">
                                <div class="col-md-4" style="width:1300; height:200; position:relative; ">
                                <img src="Robotics/Robowar.png" height="200" width="300">
                                </div>
                                <div class="col-md-8" ><strong>Robowar</strong> - <em><p>RoboWars is a competition in which two or more robots fight to win. The last robot standing wins. It will be savage. It will be treacherous. Clash of Metals with the alloys grinding red hot. It is a game of style, control, damage and aggression with the robots pit against each other in a deadly combat. These warriors shall duel for honour and loyalty in an arena of destructions with their pneumatic spikes, flipping tusks, angle grinders, hurling maces, hydraulic pincers and lots more. It is time to concentrate on the hacking and slashing of the robots. Now it is time to rumble. It's the Grand Finale of war. Get ready to feel the chills and shivers down your spine and become a part of Robowar, Avensis2015-16.</p></em>
                                    <a href="/robowar" type="button" class="btn btn-primary">View Event</a>  
                                </div></div>
                            </li>   
                        </ul>
                    <!--</div>
                </div>-->
            </div>
        </div>
    </div>

    

    
    <nav id="footer">
        <div class="container">
            <div class="pull-left fnav">
                <p>Avensis 2016 © Website maintained by Team Avensis.</p>
            </div>
            <div class="pull-right fnav">
                <ul class="footer-social">
                    <li><a href="https://www.facebook.com/msitannualfest"><i class="fa fa-facebook"></i></a></li>
                    <!-- <li><a href="#"><i class="fa fa-dribbble"></i></a></li> -->
                    <li><a href="https://instagram.com/msitannualfest"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="https://twitter.com/msitannualfest"><i class="fa fa-twitter"></i></a></li>
                </ul>
            </div>
        </div>
    </nav>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/jquery.1.11.1.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/SmoothScroll.js"></script>
    <script type="text/javascript" src="js/jquery.isotope.js"></script>

    <script src="js/owl.carousel.js"></script>

    <!-- Javascripts
    ================================================== -->
    <script type="text/javascript" src="js/main.js"></script>

  </body>
</html>


<a href="#" type="button" class="btn btn-Primary">Primary</a>