<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Encoded Beans</title>
    <meta name="description" content="Spirit8 is a Digital agency one page template built based on bootstrap framework. This template is design by Robert Berki and coded by Jenn Pereira. It is simple, mobile responsive, perfect for portfolio and agency websites. Get this for free exclusively at ThemeForces.com">
    <meta name="keywords" content="bootstrap theme, portfolio template, digital agency, onepage, mobile responsive, spirit8, free website, free theme, themeforces themes, themeforces wordpress themes, themeforces bootstrap theme">
    <meta name="author" content="ThemeForces.com">
    
    <!-- Favicons
    ================================================== -->
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="img/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png">

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css"  href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome/css/font-awesome.css">

    <!-- Slider
    ================================================== -->
    <link href="css/owl.carousel.css" rel="stylesheet" media="screen">
    <link href="css/owl.theme.css" rel="stylesheet" media="screen">

    <!-- Stylesheet
    ================================================== -->
    <link rel="stylesheet" type="text/css"  href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/responsive.css">

    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400' rel='stylesheet' type='text/css'>

    <script type="text/javascript" src="js/modernizr.custom.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <!-- Navigation
    ==========================================-->
    <nav id="tf-menu" class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Avensis 2016</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/#tf-home" class="page-scroll">Home</a></li>
            <li><a href="/#tf-about" class="page-scroll">About</a></li>
            <li><a href="/#tf-team" class="page-scroll">Team</a></li>
            <li><a href="/#tf-services" class="page-scroll">Departments</a></li>
            <!--<li><a href="#tf-works" class="page-scroll">Events</a></li>-->
            <li><a href="/#tf-testimonials" class="page-scroll">Messages</a></li>
            <li><a href="/#tf-contact" class="page-scroll">Contact</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <!-- Home Page
    ==========================================-->
    <div id="tf-home" class="text-center">
        <div class="overlay">
            <div class="content">
                <strong><font color="#fcac45", size="7">ENCODED BEANS</font></strong>
				<p class="lead"><font size="4"></font></p>
                <a href="#tf-about" class="fa fa-angle-down page-scroll" style="margin-top: 0;"></a>
                
            </div>
        </div>
    </div>

    <!-- About Us Page
    ==========================================-->
    <div id="tf-about">
        <div class="container">
            <div class="row">
            <div>
                <p>Java is easy! Isn’t it? If you are up to a challenge, then just play along! Test your programming skills in Java and win some exciting prizes! Quickly form your mighty team and come accept the challenge! Lead your team through our challenge consisting of 3 Rounds, defeating other teams and proclaim your prize while just coding! Start the challenge now and have a chance to proceed directly to Round 2! For more info, see below.                 
                </p>
                <h3><strong><ins>EVENT PLAN</ins></strong></h3>
                <p>A total of 3 Rounds will take place :</p>
                <ol>
                    <h5><li><strong>PRELIMINARY ROUND</strong></li></h5>
                    <p><strong>Online Quiz: </strong> An Online Round will take place on a website 1 week before the fest and will be active till before the day of the fest. This would include Java Quiz. From this round, top teams will proceed directly to Round 2 (Final). The exam will be of MCQ type, and winners will be sent emails to notify their direct selection. A Team may contain of 1 or 2 members.
                        </p>
                    <h5><li><strong>ROUND 1</strong></li></h5>
                    <p><strong>Offline Quiz:</strong>An On-Campus round, this round will be held in a lab. In this round, an offline quiz will take place between the teams, this round will be of similar difficulty as of the Preliminary Round , so that the people who couldn’t participate in the preliminary has a fair chance of getting in the more difficult Round 2. Selected teams will qualify for Round 2 (Final).
                    </p>
                    <h5><li><strong>ROUND 2</strong></li></h5>
                    <p><strong>Bug Fixing: </strong>This will be a little bit difficult but interesting round in which the participants will be asked to fix some bugs in the code provided by us. These will contain all types of bugs a developer cannot imagine, and all those who proceed to round 3 will be given small prizes for their achievement.
                    </p>
                    <hr/>
                    <h3><emp>DAY 2</emp></h3>
                    <hr/>
                    <h5><li><strong>ROUND 3</strong></li></h5>
                    <p><strong>A Mini-Project Round: </strong>This round is why we are conducting a team contest, all the participating teams will be given a small project, in terms of code length, so that they can spend more time on logic, and design. The round has three stages and all the stages have points allotted which will be summed up to give the winner, as we cannot select a winner on any single degree of measurement, here are the three stages :-
                    </p>
                    <ol>
                        <li>In this round the teams will have to create a less formal but fully informative and robust design for the project they are going to work, we will provide them a max of 20 minutes to think about it. Scores will be given on the basis of their class design (those who finish faster can start coding).</li>
                        <li>This is the most obvious round, in this they will have to begin coding, teams will be given a total of 2 hours to code. In this we will reward the points on the basis of coding talent, what all techniques they used, etc.</li>
                        <li>This is the third round in which we will purely judge on the basis user experience and running times.</li>
                    </ol>
                </ol>
                <hr/>
                <h3><strong><ins>RULES AND REGULATIONS</ins></strong></h3>
                <ul>
                    <li>Scores of the three rounds will be added and a winner will be chosen from the finalists. The winner will
    be awarded prizes as per the sponsorship goes.</li>
                    <li>Maximum of 2 members allowed in a team. (Lone participation allowed).</li>
                    <li>The Event consists of total 3 Rounds.</li>
                    <li>Use of Internet or other electronic gadgets (except Exam machine on which you are coding) is
     strictly prohibited.</li>
                </ul>
            </div>
            </div>
        </div>
    </div>

    

    
    <nav id="footer">
        <div class="container">
            <div class="pull-left fnav">
                <p>Avensis 2016 © Website maintained by Team Avensis.</p>
            </div>
            <div class="pull-right fnav">
                <ul class="footer-social">
                    <li><a href="https://www.facebook.com/msitannualfest"><i class="fa fa-facebook"></i></a></li>
                    <!-- <li><a href="#"><i class="fa fa-dribbble"></i></a></li> -->
                    <li><a href="https://instagram.com/msitannualfest"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="https://twitter.com/msitannualfest"><i class="fa fa-twitter"></i></a></li>
                </ul>
            </div>
        </div>
    </nav>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/jquery.1.11.1.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/SmoothScroll.js"></script>
    <script type="text/javascript" src="js/jquery.isotope.js"></script>

    <script src="js/owl.carousel.js"></script>

    <!-- Javascripts
    ================================================== -->
    <script type="text/javascript" src="js/main.js"></script>

  </body>
</html>