<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Junkyard</title>
    <meta name="description" content="Spirit8 is a Digital agency one page template built based on bootstrap framework. This template is design by Robert Berki and coded by Jenn Pereira. It is simple, mobile responsive, perfect for portfolio and agency websites. Get this for free exclusively at ThemeForces.com">
    <meta name="keywords" content="bootstrap theme, portfolio template, digital agency, onepage, mobile responsive, spirit8, free website, free theme, themeforces themes, themeforces wordpress themes, themeforces bootstrap theme">
    <meta name="author" content="ThemeForces.com">
    
    <!-- Favicons
    ================================================== -->
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="img/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png">

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css"  href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome/css/font-awesome.css">

    <!-- Slider
    ================================================== -->
    <link href="css/owl.carousel.css" rel="stylesheet" media="screen">
    <link href="css/owl.theme.css" rel="stylesheet" media="screen">

    <!-- Stylesheet
    ================================================== -->
    <link rel="stylesheet" type="text/css"  href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/responsive.css">

    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400' rel='stylesheet' type='text/css'>

    <script type="text/javascript" src="js/modernizr.custom.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <!-- Navigation
    ==========================================-->
    <nav id="tf-menu" class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Avensis 2016</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/#tf-home" class="page-scroll">Home</a></li>
            <li><a href="/#tf-about" class="page-scroll">About</a></li>
            <li><a href="/#tf-team" class="page-scroll">Team</a></li>
            <li><a href="/#tf-services" class="page-scroll">Departments</a></li>
            <!--<li><a href="#tf-works" class="page-scroll">Events</a></li>-->
            <li><a href="/#tf-testimonials" class="page-scroll">Messages</a></li>
            <li><a href="/#tf-contact" class="page-scroll">Contact</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <!-- Home Page
    ==========================================-->
    <div id="tf-home" class="text-center">
        <div class="overlay">
            <div class="content">
                <strong><font color="#fcac45", size="7">JUNKYARD</font></strong>
				<p class="lead"><font size="4"></font></p>
                <a href="#tf-about" class="fa fa-angle-down page-scroll" style="margin-top: 0;"></a>
                
            </div>
        </div>
    </div>

    <!-- About Us Page
    ==========================================-->
    <div id="tf-about">
        <div class="container">
            <div class="row">
            <div>
                <p>Junkyard Wars is the perfect amalgamation of the innovation and critical skills inside you. So tie your laces and hop on to the event to put your engineering theories into practice, to test your problem solving skills, tolerance and creativity and also get ready to work with piles of junk and get all dirty and greasy. Inspired by a real life incident, Junkyard Wars will test your ability to make use of every resource available in an optimized manner under the given time constraint. The participants will have to apply innovative ideas and feasible solutions of the given real life problems to design the mechanism from the given scrap and have to complete the task in required time limit.
                </p>
                <p>In these competitions, multiple teams build a device for use in a competition out of raw materials within a time limit. This sort of competition requires quick thinking and teamwork, and so is a great way to demonstrate an engineer's abilities.
                </p>
                
                <h3><strong><ins>1. PROBLEM STATEMENT</ins></strong></h3>
                    <p>To build a model of assigned project from junk given to them.
                    </p>
                <hr/>
                <h3><strong><ins>2. TASK</ins></strong></h3>
                    <p>The project must be completed in the given time and the project must be working which can be showcased.
                    </p>
                <hr/>
                <h3><strong><ins>3. ROUNDS</ins></strong></h3>
                    <p>The event will consist of three rounds that are:
                    </p>
                <ul>
                    <h5><li><strong>ROUND 1</strong></li></h5>
                    <ol>
                        <li>In this round  there will be wire loop game made out of junk which is to be played by all team.</li>    
                        <li>2 minutes will be given to all teams individually.</li>
                        <li>The one who reaches more distance  in less time will be selected.</li>
                    </ol>
                    <h5><li><strong>ROUND 2</strong></li></h5>
                    <ol>
                        <li>In this round all selected team from Round 1have to take a group pics of  wearing  a hat made out of junk.</li>    
                        <li>All hat having the individual letter of word “ JUNKYARD”.</li>
                        <li>The one who completed this task in less time will be selected.</li>
                        <li>In this round 10 minutes will be given to all teams.</li>
                    </ol>
                    <h5><li><strong>ROUND 3: Final Tread</strong></li></h5>
                    <ol>
                        <li>In this round there will be a project assigned to all team.</li>    
                        <li>The team who completes the project in the given time with accurately will be selected.</li>
                    </ol>
                </ul>
                <hr/>
                <h3><strong><ins>4. RULES AND REGULATIONS</ins></strong></h3>
                <ul>
                    <li>Each team should consist of 2-4 members only.</li>
                    <li>Each team must formulate their own ideas and designs. Plagiarism in any form shall lead to disqualification.</li>
                    <li>Non working project will not be allowed to be showcased.</li>
                    <li>All the team members must be present during the finals.</li>
                    <li>Participants must comply with the rules of the Workshop area where the model will be built.</li>
                    <li>Junkyard is not responsible for any loss of property, injury and delays caused by participants during the event./li>
                    <li>Junkyard  reserves the right to eliminate the participants in case of any misconduct.</li>
                    <li>All students with a valid identity card from their respective educational institution are eligible to participate in Junkyard Wars.</li>
                    <li>Decision of the judges is final and binding to all.</li>
                    <li>The rules indicated in the Event Format section are applicable in addition to the above mentioned.</li>
                 </ul><hr/>
                
                <h3><strong><ins>5. RESTARTS AND TIMEOUTS</ins></strong></h3>
                <ol>
                    <li>A maximum of 2 timeouts of 2 minutes would be given to all teams in round 1.</li>
                    <li>A team have two restarts only in round 1.</li>
                    <li>There is no restart time for other two rounds.</li>
                </ol><hr/>
                
                <h3><strong><ins>6. PROJECT SPECIFICATION</ins></strong></h3>
                <ol>
                    <li>Pedestrian Crossing Bridge (With LIFT / ESCALATOR,BUILDINGS NEAR BY,FEW VEHICLES ON ROAD)</li>
                    <li>Junkyard Truck (With working)</li>
                    <li>Fire Brigade Vehicle (With Working)</li>
                </ol>
            </div>
            </div>
        </div>
    </div>

    

    
    <nav id="footer">
        <div class="container">
            <div class="pull-left fnav">
                <p>Avensis 2016 © Website maintained by Team Avensis.</p>
            </div>
            <div class="pull-right fnav">
                <ul class="footer-social">
                    <li><a href="https://www.facebook.com/msitannualfest"><i class="fa fa-facebook"></i></a></li>
                    <!-- <li><a href="#"><i class="fa fa-dribbble"></i></a></li> -->
                    <li><a href="https://instagram.com/msitannualfest"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="https://twitter.com/msitannualfest"><i class="fa fa-twitter"></i></a></li>
                </ul>
            </div>
        </div>
    </nav>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/jquery.1.11.1.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/SmoothScroll.js"></script>
    <script type="text/javascript" src="js/jquery.isotope.js"></script>

    <script src="js/owl.carousel.js"></script>

    <!-- Javascripts
    ================================================== -->
    <script type="text/javascript" src="js/main.js"></script>

  </body>
</html>