<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Robo Maze</title>
    <meta name="description" content="Spirit8 is a Digital agency one page template built based on bootstrap framework. This template is design by Robert Berki and coded by Jenn Pereira. It is simple, mobile responsive, perfect for portfolio and agency websites. Get this for free exclusively at ThemeForces.com">
    <meta name="keywords" content="bootstrap theme, portfolio template, digital agency, onepage, mobile responsive, spirit8, free website, free theme, themeforces themes, themeforces wordpress themes, themeforces bootstrap theme">
    <meta name="author" content="ThemeForces.com">
    
    <!-- Favicons
    ================================================== -->
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="img/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png">

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css"  href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome/css/font-awesome.css">

    <!-- Slider
    ================================================== -->
    <link href="css/owl.carousel.css" rel="stylesheet" media="screen">
    <link href="css/owl.theme.css" rel="stylesheet" media="screen">

    <!-- Stylesheet
    ================================================== -->
    <link rel="stylesheet" type="text/css"  href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/responsive.css">

    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400' rel='stylesheet' type='text/css'>

    <script type="text/javascript" src="js/modernizr.custom.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <!-- Navigation
    ==========================================-->
    <nav id="tf-menu" class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Avensis 2016</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/#tf-home" class="page-scroll">Home</a></li>
            <li><a href="/#tf-about" class="page-scroll">About</a></li>
            <li><a href="/#tf-team" class="page-scroll">Team</a></li>
            <li><a href="/#tf-services" class="page-scroll">Departments</a></li>
            <!--<li><a href="#tf-works" class="page-scroll">Events</a></li>-->
            <li><a href="/#tf-testimonials" class="page-scroll">Messages</a></li>
            <li><a href="/#tf-contact" class="page-scroll">Contact</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <!-- Home Page
    ==========================================-->
    <div id="tf-home" class="text-center">
        <div class="overlay">
            <div class="content">
                <strong><font color="#fcac45", size="7">ROBO MAZE</font></strong>
				<p class="lead"><font size="4"></font></p>
                <a href="#tf-about" class="fa fa-angle-down page-scroll" style="margin-top: 0;"></a>
                
            </div>
        </div>
    </div>

    <!-- About Us Page
    ==========================================-->
    <div id="tf-about">
        <div class="container">
            <div class="row">
            <div>
                <p>Robo Maze is a challenge. A challenge to design autonomous robots that compete to solve a maze.
                </p>
                <p>These robots have to be intelligent enough to themselves find a way out of the maze and cannot be controlled remotely.  The robots will encounter many obstacles in its way. Only the most intelligently programmed robot will make it to the end in time to become the winner. Overcome the obstacles and be fast as to leave your competition behind.
                </p>
                <p>Don't stay for too long in the maze you won't survive it..!!
                </p>
                
                <h3><strong><ins>1. PROBLEM STATEMENT</ins></strong></h3>
                    <p>To build a self-governing robot that can sense black and white walls.
                    </p>
                <hr/>
                <h3><strong><ins>2. TASK</ins></strong></h3>
                    <p>The robot must be able to start from a predefined position and then by sensing walls it must reach the end point.
                    </p>
                <hr/>
                <h3><strong><ins>3. ROUNDS</ins></strong></h3>
                    <p>The event will consist of two rounds that are:
                    </p>
                <ul>
                    <h5><li><strong>ROUND 1</strong></li></h5>
                    <ol>
                        <li>In this round the track will have lines to mark the path the robot can either follow the line or the walls.</li>    
                        <li>Penalty will be given to robots that follow the line.</li>
                        <li>Maximum time for this event will be 5 min.</li>
                    </ol>
                    <h5><li><strong>ROUND 2</strong></li></h5>
                    <ol>
                        <li>This round will not have any lines to mark the path on the maze. Only the walls have to be followed.</li>    
                        <li>Obstacles will be presented before the robot like LED lights to confuse the sensors, alternate black and white strips on walls and mirrors on the sidewalls.</li>
                        <li>Maximum time for this event will be 7 min.</li>
                    </ol>
                </ul>
                <hr/>
                <h3><strong><ins>4. RULES AND REGULATIONS</ins></strong></h3>
                <ul>
                    <li>Each team can have a maximum of 4 members.</li>
                    <li>No two teams can have a common member.</li>
                    <li>Cross college teams are allowed.</li>
                 </ul><hr/>
                
                <h3><strong><ins>5. RESTARTS AND TIMEOUTS</ins></strong></h3>
                <ol>
                    <li>A maximum of 2 timeouts of 3 mins would be given to teams in round 1. And 3 timeouts of 5 mins will be given in round 2.</li>
                    <li>The timer would be stopped during this timeout and a penalty of 10 sec would be given for each timeout.</li>
                    <li>A team can have 3 restarts in each round. After restart the timer will be reset to 0.</li>
                    <li>A penalty of 20 secs will be given for each restart.</li>
                </ol><hr/>
                
                <h3><strong><ins>6. ROBOT SPECIFICATION</ins></strong></h3>
                <ol>
                    <li>The robot must have dimensions less than 60cm x 60cm.</li>
                    <li>The robot must be autonomous with on board processing and not be controlled remotely by any means. It can have a maximum of 16 bit processor.</li>
                    <li>Lego Kits are allowed for this event but a time penalty would be given to the teams using Lego kit robots.</li>
                    <li>The robot should not by any means harm the maze. In case it does a penalty that will be decided by the event heads will be imposed.</li>
                </ol>
            </div>
            </div>
        </div>
    </div>

    

    
    <nav id="footer">
        <div class="container">
            <div class="pull-left fnav">
                <p>Avensis 2016 © Website maintained by Team Avensis.</p>
            </div>
            <div class="pull-right fnav">
                <ul class="footer-social">
                    <li><a href="https://www.facebook.com/msitannualfest"><i class="fa fa-facebook"></i></a></li>
                    <!-- <li><a href="#"><i class="fa fa-dribbble"></i></a></li> -->
                    <li><a href="https://instagram.com/msitannualfest"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="https://twitter.com/msitannualfest"><i class="fa fa-twitter"></i></a></li>
                </ul>
            </div>
        </div>
    </nav>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/jquery.1.11.1.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/SmoothScroll.js"></script>
    <script type="text/javascript" src="js/jquery.isotope.js"></script>

    <script src="js/owl.carousel.js"></script>

    <!-- Javascripts
    ================================================== -->
    <script type="text/javascript" src="js/main.js"></script>

  </body>
</html>